<% @mottos.each do |motto| %>
  <h2><%= motto.content %></h2>
  <%= link_to "Edit", edit_motto_path(motto) %>
<% end %>

<%= link_to "Make A New Habit", new_habit_path %>
<%= link_to "Make A Motto", new_motto_path %>

<% @habits.each do |habit| %>
  <p>Goal: <%= habit.goal %></p>
  <%= link_to "Edit", edit_habit_path(habit) %>
  <%= link_to "Delete", habit_path(habit), method: :delete %>
<% end %>

